.git
.github
.env
.env.local
.env.*.local
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
